// ! ===== Lato =====
@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"),
      url("../fonts/Lato-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"),
      url("../fonts/Lato-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
// =================

// ! ===== Inter =====
@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"),
      url("../fonts/Inter-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"),
      url("../fonts/Inter-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff"),
      url("../fonts/Inter-ExtraBold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}
// =================

// ! ===== Roboto =====
@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"),
      url("../fonts/Roboto-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"),
      url("../fonts/Roboto-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}
// =================

// ! ===== Rajdhani =====
@font-face {
   font-family: "Rajdhani";
   src: url("../fonts/Rajdhani-Regular.woff2") format("woff2"), url("../fonts/Rajdhani-Regular.woff") format("woff"),
      url("../fonts/Rajdhani-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Rajdhani";
   src: url("../fonts/Rajdhani-Medium.woff2") format("woff2"), url("../fonts/Rajdhani-Medium.woff") format("woff"),
      url("../fonts/Rajdhani-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Rajdhani";
   src: url("../fonts/Rajdhani-SemiBold.woff2") format("woff2"), url("../fonts/Rajdhani-SemiBold.woff") format("woff"),
      url("../fonts/Rajdhani-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Rajdhani";
   src: url("../fonts/Rajdhani-Bold.woff2") format("woff2"), url("../fonts/Rajdhani-Bold.woff") format("woff"),
      url("../fonts/Rajdhani-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}
// =================

// ! ===== Aldrich =====
@font-face {
   font-family: "Aldrich";
   src: url("../fonts/Aldrich-Regular.woff2") format("woff2"), url("../fonts/Aldrich-Regular.woff") format("woff"),
      url("../fonts/Aldrich-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
// =================

// ! ===== Orbitron =====
@font-face {
   font-family: "Orbitron";
   src: url("../fonts/Orbitron-Bold.woff2") format("woff2"), url("../fonts/Orbitron-Bold.woff") format("woff"),
      url("../fonts/Orbitron-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}
// =================

// ! ===== MuseoModerno =====
@font-face {
   font-family: "MuseoModerno";
   src: url("../fonts/MuseoModerno-Regular.woff2") format("woff2"), url("../fonts/MuseoModerno-Regular.woff") format("woff"),
      url("../fonts/MuseoModerno-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
// =================

// ! ===== Spartan =====
@font-face {
   font-family: "Spartan";
   src: url("../fonts/Spartan-SemiBold.woff2") format("woff2"), url("../fonts/Spartan-SemiBold.woff") format("woff"),
      url("../fonts/Spartan-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}
// =================

// ! ===== Alethia Next =====
@font-face {
   font-family: "Alethia Next";
   src: url("../fonts/AlethiaNext-Light.woff2") format("woff2"), url("../fonts/AlethiaNext-Light.woff") format("woff"),
      url("../fonts/AlethiaNext-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
}
// =================